<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/bootstrap.min.css">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/plotly-latest.min.js"></script>
	</head>
	<body>
		<div class="container">
			<a href="/histogram" class="btn btn-primary m-5">Histograma DHT11</a>
			<div class="card text-center">
				<div class="card-header">
					<h1>Servomotor</h1>
				</div>
				<div class="card-body">
					<h5>Posición: {{servo}}</h5>
					<a href="/servo/menos" class="btn btn-primary"> <- </a>
					<a href="/servo/mas" class="btn btn-primary"> -> </a>
					
				</div>
			</div>
			
			
			
		</div>
	
	
	</body>
</html>
